@import "tailwindcss";
@theme{
--color-jordy-blue-50: #eff6ff;
--color-jordy-blue-100: #dceafd;
--color-jordy-blue-200: #c1dbfc;
--color-jordy-blue-300: #8dc1fa;
--color-jordy-blue-400: #64a6f6;
--color-jordy-blue-500: #4084f1;
--color-jordy-blue-600: #2a66e6;
--color-jordy-blue-700: #2251d3;
--color-jordy-blue-800: #2243ab;
--color-jordy-blue-900: #213c87;
--color-jordy-blue-950: #192652;


}
